<div id="sobre-nosotros" class="grid grid-cols-1 lg:grid-cols-2 gap-0.5">
  <div data-aos="zoom-down" class="relative">
    <div
      class="absolute inset-0 bg-primary/70 hover:bg-primary/80 transition flex items-center justify-center"
    >
      <h1
        data-aos="zoom-in"
        data-aos-delay="100"
        class="font-bold text-white text-2xl lg:text-4xl text-center"
      >
        Innovación Médica
      </h1>
    </div>
    <img src="/images/desktop/3.JPG" alt="" />
  </div>
  <div data-aos="zoom-down" class="relative">
    <div
      class="absolute inset-0 bg-primary/70 hover:bg-primary/80 transition flex items-center justify-center"
    >
      <h1
        data-aos="zoom-in"
        data-aos-delay="100"
        class="font-bold text-white text-2xl lg:text-4xl text-center"
      >
        Investigación Clínica
      </h1>
    </div>
    <img src="/images/desktop/2.JPG" alt="" />
  </div>
  <div data-aos="zoom-down" class="relative">
    <div
      class="absolute inset-0 bg-primary/70 hover:bg-primary/80 transition flex items-center justify-center"
    >
      <h1
        data-aos="zoom-in"
        data-aos-delay="100"
        class="font-bold text-white text-2xl lg:text-4xl text-center"
      >
        Excelencia Asistencial
      </h1>
    </div>
    <img src="/images/desktop/1.JPG" alt="" />
  </div>
  <div data-aos="zoom-down" class="relative">
    <div
      class="absolute inset-0 bg-primary/70 hover:bg-primary/80 transition flex items-center justify-center"
    >
      <h1
        data-aos="zoom-in"
        data-aos-delay="100"
        class="font-bold text-white text-2xl lg:text-4xl text-center"
      >
        Impacto Regional
      </h1>
    </div>
    <img src="/images/desktop/10.JPG" alt="" />
  </div>
  <div></div>
</div>
