<div
  class="grid grid-cols-1 lg:grid-cols-2 font-medium text-neutral-600 my-20 border-y-2 border-primary/10 gap-4 lg:gap-0"
>
  <div data-aos="zoom-in" class="p-4 lg:p-0 order-1">
    <img src="/images/desktop/9.webp" alt="" />
  </div>
  <div class="p-4 lg:p-8 flex flex-col gap-2 justify-center order-2">
    <h1
      data-aos="fade-left"
      class="text-primary font-bold text-2xl lg:text-4xl"
    >
      Validamos tratamientos, mejoramos vidas
    </h1>
    <h2 data-aos="fade-left">
      Impulsamos el avance científico mediante estudios clínicos de alto impacto
      que fortalecen la práctica médica en la región Caribe y generan soluciones
      diagnósticas y terapéuticas innovadoras.
    </h2>
    <!-- Casos de estudios destacados: -->
    <!-- <ul>
      <li>Desarrollo neurológico en menores afectados por Zika</li>
      <li>Apoyo diagnóstico en cáncer de pulmón</li>
      <li>
        Evaluación de dispositivos médicos Nuevas apuestas terapéuticas,
        incluyendo teranóstica
      </li>
    </ul>

    <div>
      Nuestro enfoque integra investigación clínica,tecnología avanzada y
      práctica médica para ofrecer resultados precisos, confiables y oportunos.
    </div> -->
  </div>

  <div class="p-4 lg:p-8 flex flex-col gap-2 justify-center order-4 lg:order-3">
    <h1
      data-aos="fade-right"
      class="text-primary font-bold text-2xl lg:text-4xl"
    >
      Infraestructura especializada para investigación y atención médica
    </h1>
    <h2 data-aos="fade-right">
      Contamos con espacios diseñados para garantizar la excelencia clínica y
      científica, cumpliendo con estándares regulatorios y buenas prácticas en
      investigación.
    </h2>
    <!-- <ul>
      <li>Privacidad y confidencialidad</li>
      <li>Tecnología médica avanzada Accesibilidad para pacientes</li>
      <li>Entornos seguros y adecuados para estudios clínicos</li>
    </ul> -->
  </div>
  <div data-aos="zoom-in" class="p-4 lg:p-0 order-3 lg:order-4">
    <img src="/images/desktop/7.webp" alt="" />
  </div>
  <div data-aos="zoom-in" class="p-4 lg:p-0 order-5">
    <img src="/images/desktop/5.webp" alt="" />
  </div>
  <div class="p-4 lg:p-8 flex flex-col gap-2 justify-center order-6">
    <h1
      data-aos="fade-left"
      class="text-primary font-bold text-2xl lg:text-4xl"
    >
      Impacto en pacientes y comunidad
    </h1>
    <h2 data-aos="fade-left">
      Nuestra labor se traduce en mejoras reales en la calidad de vida de
      nuestros pacientes y en el fortalecimiento del sector salud en la región
      Caribe.
    </h2>
    <!-- <ul>
      <li>Mejora de la calidad de vida</li>
      <li>Protocolos optimizados para diagnóstico y tratamiento</li>
      <li>
        Cuidado y seguimiento integral Contribución científica y académica
      </li>
    </ul>
    <div>
      Desarrollamos proyectos de alto impacto que fortalecen la práctica médica
      y promueven el desarrollo regional.
    </div> -->
  </div>
</div>
