<div
  class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-1 place-items-center  w-full text-primary justify-center border-primary/30 py-14"
>
  <div
  data-aos="fade-up"
  data-aos-delay="100"
  data-aos-duration="500"
  class="flex flex-col items-center">
    <span class="text-3xl lg:text-5xl font-bold">+68</span>
    <span class="text-sm">Años de experiencia</span>
  </div>

  <div
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="500"
  class="flex flex-col items-center">
    <span class="text-3xl lg:text-5xl font-bold">+90k</span>
    <span class="text-sm">Pacientes atendidos</span>
  </div>

  <div
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="500"
  class="flex flex-col items-center">
    <span class="text-3xl lg:text-5xl font-bold">+221k</span>
    <span class="text-sm">Estudios diagnosticos anuales</span>
  </div>
</div>
