@import "tailwindcss";

@theme {
  --color-primary: #002261;
  --color-secundary: #00c7ff;
}

@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Regular.otf") format(opentype);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Medium.otf") format(opentype);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis-Black.otf") format(opentype);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: Metropolis, sans-serif;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
